/Code - Insiders
/configstore
/dconf
/Electron
/gtk-3.0
/ibus
/kde.org
/nemo
/nnn
/pulse
/qtct
/session
/spotify
/Thunar
/ulauncher
/xfce4
/Postman
/azote
/coc
/flutter
/gedit
/insight-nodejs
/libreoffice
/qBittorrent
/qtile
/vlc
/wayfire.ini
/Slack
/Code
/Unknown Organization
/autostart
/menus
/Microsoft
/Netflix
/nitrogen
/polybar.old
/teams
/TabNine
/rofi.old
/xpad
/Sandbox Interactive GmbH
/cef_user_data
/chromium
/citra-emu
/google-chrome
/jgit
/unity3d
zoomus.conf
user-dirs.locale
user-dirs.dirs
QtProject.conf
arkrc
dolphinrc
kdeglobals
mimeapps.list
